.wrapper {
  text-align: center;
  color: white;
  background-color: black;
}
.images {
  display: block;
  margin: 1rem auto;
  width: 300px;
}
/*__ Button.css ve Card.css çakışır. Module css kullanmamız lazım. */
