@mixin flex($direction, $justify, $gap, $align: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

//__ Function gibi bir yapısı vardır. Mevcut kodları eğer birden fazla yerden kullanacak isek mixin işlemi yaparız.
//__ $align: center işlemi eğer align-items itemine bir değer atanmazsa default olarak center atar.
