@import "../../scss/variable";
@import "../../scss/mixins";

.header {
  text-align: center;
  padding: 0.5rem;
  margin-top: 5rem;
  h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: $cardNavBgColor;
    font-family: monospace;
  }
  .btns {
    @include flex(row, center, 1rem); // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // gap: 1rem;
    button {
      padding: 1rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}
